@import url("https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@400;500&family=Prompt&family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Prompt&family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@600&display=swap");

body {
  margin: 0;
  background-color: #fffef1;
}

h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 0%;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #eaffe9;
  margin-left: 2em;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  height: 50px;
  padding: 0 20px 0;
}

h1:hover {
  color: white;
  background: #a3f1a2;
  border: solid 3px #a3f1a2;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 120px;
  background: #55d152;
  position: sticky;
  top: 0;
  border-bottom: solid 3px #a3f1a2;
  z-index: 100;
}

.email {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 800;
  font-size: 15px;
  line-height: 110%;

  text-decoration: none;
  letter-spacing: 0.06em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em;

  color: #4b6044;

  width: 283px;
  height: 46px;

  background: rgba(255, 255, 255, 0.7);
  border: 1px solid #daffd9;
  margin-right: 2em;
  grid-area: 1 / 3 / 1 / 3;
  justify-self: flex-end;
}

.nav-button {
  padding: 20px;
  width: 100%;

  background: #daffd9;

  font-family: "Noto Sans";

  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  text-decoration: none;

  text-align: center;
  letter-spacing: 0.1em;

  color: #3d5d3c;
  transition-duration: 0.4s;
}

.nav-button:hover {
  background-color: #9bf39a;
  color: #fffef1;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: solid 3px #a3f1a2;
  border-top: solid 3px #a3f1a2;
}

h2 {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 600;
  font-size: 25px;
  line-height: 110%;
  /* or 24px */
  text-align: center;
  letter-spacing: 0.06em;
  margin: 3em auto 2em;
}

#job-description {
  font-family: "Montserrat";
  font-style: normal;
  max-width: 600px;
  line-height: 140%;
  font-weight: 500;
  font-size: 18px;

  text-align: center;
  letter-spacing: 0.06em;
  color: #3c883a;
  margin: 3em auto 3em;
  padding: 0 3em 0;
}
h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 100%;
  text-align: center;
  letter-spacing: 0.06em;

  color: #000000;
  padding-bottom: 0.5em;
  border-bottom: solid #4ace48 4px;
  width: 460px;
  margin: 3em auto 1.5em;
}

.programming-languages {
  background-color: #daffd9;

  max-width: 1155px;
  height: 198px;
  margin: 3em auto;
  display: flex;
  align-items: center;
  padding: 3em 0;
  margin-bottom: 10em;
}

ul {
  margin: 1em;
  margin-left: 3em;
}

li {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  margin: 24px 0;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0.06em;

  color: #4b6044;
}

hr {
  border: 75px solid #a3f1a2;
  background-color: #a3f1a2;
}

.activity {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  height: 100px;
  margin: 100px auto;

  align-content: center;
  column-gap: 3em;
}

.activity-title {
  width: 1123px;
  height: 150px;
  background: #a3f1a2;
  border: 4px solid #a3f1a2;
  grid-area: 1 / 1 / 1 / span 2;
  padding-left: 2em;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

.activity-summary {
  width: 500px;
  height: 250px;
  background: #daffd9;

  grid-area: 1 / 2 / 1 / 3;
  margin-top: 2em;
  margin-right: 2em;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}
.activity:hover .activity-summary {
  scale: 130%;
  margin-top: 7em;
}
.activity-container {
  display: flex;
  flex-direction: column;
  row-gap: 6em;

  margin: 2em auto 7em;
}

h4 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  width: 550px;
  letter-spacing: 0.06em;

  color: #000000;
}

h5 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 100%;
  /* or 15px */

  letter-spacing: 0.06em;

  color: #000000;
}

p {
  font-family: "Prompt";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 160%;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 1em;
  width: 430px;
  letter-spacing: 0.06em;

  color: #4b6044;
}

.education-title {
  width: 1123px;
  height: 150px;

  grid-area: 1 / 1 / 1 / span 2;
  padding-left: 2em;
}

.education-summary {
  width: 500px;
  height: 250px;
  background: #daffd9;

  grid-area: 1 / 2 / 1 / 3;
  margin-top: 2em;
  margin-right: 0;
}

.education {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  border: solid 5px #4ace48;
  padding: 1em;
  padding-bottom: 2em;
  width: 1123px;
  margin: 100px auto;
  align-content: center;
  column-gap: 3em;
}

.education p {
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #4b6044;
}
a:hover {
  color: black;
}
span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #3c883a;
  width: 400px;
  line-height: 160%;

  align-self: flex-start;
  text-align: center;
}

html {
  scroll-behavior: smooth;
}

.credit {
  font-family: "Prompt";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;

  padding-top: 2em;
  letter-spacing: 0.06em;

  color: #daffd9;
  grid-area: 1 / 2 / 1 / 2;
  justify-self: center;
}

footer {
  width: 100%;
  height: 120px;
  background: #4ace48;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
    border-top: solid 3px #a3f1a2;
}


img {
  height: 400px;
  border: 5px solid #4ace48;
  margin: 0 1em;
}
.about-me-container {
  display: flex;
  flex-direction: row;
  height: 400px;
  justify-content: center;
  align-items: flex-start;
  column-gap: 5em;
  margin-bottom: 5em;
}
/* tablet sizing */
@media (min-width: 900px) and (max-width: 1190px) {
  body {
    width: 100%;
  }

  .activity {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    height: 100px;
    margin: 100px auto;

    align-content: center;
    column-gap: 0;
    width: 100%;
  }

  .activity-title {
    width: 100%;
    height: 150px;
    background: #a3f1a2;
    border: 4px solid #a3f1a2;
    grid-area: 1 / 1 / 1 / span 2;
  }

  .activity-summary {
    width: 450px;
    height: 200px;
    background: #daffd9;

    grid-area: 1 / 2 / 1 / 2;
    margin-top: 2em;
  }

  .activity-container {
    display: flex;
    flex-direction: column;
    row-gap: 6em;
    width: 100%;
    margin: 2em auto 7em;
  }

  h4 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    width: 350px;
    letter-spacing: 0.06em;

    color: #000000;
  }

  h5 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 100%;
    /* or 15px */

    letter-spacing: 0.06em;

    color: #000000;
  }
  p {
    font-family: "Prompt";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 160%;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-top: 1em;
    width: 400px;
    letter-spacing: 0.06em;

    color: #4b6044;
  }
  .education-title {
    width: 100%;
    height: 150px;

    grid-area: 1 / 1 / 1 / span 2;
    padding-left: 2em;
  }

  .education-summary {
    width: 450px;
    height: 200px;
    background: #daffd9;

    grid-area: 1 / 2 / 1 / 3;
    margin-top: 2em;
    margin-right: 3em;
    padding-bottom: 2em;
  }

  .education {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    border-top: solid 5px #4ace48;
    border-bottom: solid 5px #4ace48;
    border-left: 0;
    border-right: 0;
    padding: 1em;
    padding-bottom: 2em;
    margin: 100px auto;
    align-content: center;
    column-gap: 4.5em;
  }
  span {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #3c883a;
    width: 350px;
    line-height: 160%;
    margin-right: 1em;

    align-self: flex-start;
    text-align: center;
  }
  img {
    height: 400px;
    border: 5px solid #4ace48;
    margin: 0 1em;
  }
  .about-me-container {
    display: flex;
    flex-direction: row;
    height: 400px;
    justify-content: center;
    align-items: flex-start;
    column-gap: 5em;
    margin-bottom: 5em;
  }
  .credit {
    font-family: "Prompt";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;

    padding-top: 2em;
    letter-spacing: 0.06em;

    color: #daffd9;

    justify-self: center;
  }

  footer {
    width: 100%;
    height: 150px;
    background: #4ace48;
    display: flex;
    flex-direction: column;
    align-items: center;
  }


    .activity:hover .activity-summary {
    scale: 130%;
    margin-top: 7em;
  }
}

/* mobile sizing */
@media (max-width: 900px) {
  body {
    width: 100%;
  }
  h1 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 0%;
    text-align: center;
    margin: 0 2em 0;
    letter-spacing: 0.06em;
    color: #eaffe9;
    margin-bottom: 1.5em;
  }

  header {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
    height: 185px;
    background: #55d152;
  }

  .nav-button {
    padding: 20px;
    width: 100%;

    background: #daffd9;

    font-family: "Noto Sans";

    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    text-decoration: none;

    text-align: center;
    letter-spacing: 0.1em;

    color: #3d5d3c;
  }

  .nav-button:hover {
    background-color: #9bf39a;
  }

  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  h2 {
    font-family: "Montserrat";
    font-style: italic;
    font-weight: 600;
    font-size: 25px;
    line-height: 110%;
    /* or 24px */
    text-align: center;
    letter-spacing: 0.06em;
    margin: 3em auto 2em;
  }
  #job-description {
    font-family: "Montserrat";
    font-style: normal;
    max-width: 600px;
    line-height: 140%;
    font-weight: 500;
    font-size: 18px;
    margin: 3em auto 0;

    /* or 26px */

    text-align: left;

    letter-spacing: 0.06em;
    color: #3c883a;
  }
  h3 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 100%;
    text-align: left;
    letter-spacing: 0.06em;

    color: #000000;
    padding-bottom: 0.5em;
    border-bottom: solid #4ace48 4px;
    width: 460px;
    margin: 3em auto 1em;
  }
  .activity {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 100px;
    height: 200px;
    margin: 100px auto;

    align-content: center;
    row-gap: 1em;
    width: 100%;
  }

  .activity-title {
    width: 100%;
    height: 200px;
    background: #a3f1a2;
    border: 4px solid #a3f1a2;
    grid-area: 1 / 1 / 1 / 1;
  }

  .activity-summary {
    width: 500px;
    height: 250px;
    background: #daffd9;

    grid-area: 2 / 1 / 2 / 1;

    justify-self: center;
    margin: 3em 2em 3em;
  }

  .activity-container {
    display: flex;
    flex-direction: column;
    row-gap: 7em;
    width: 100%;
    margin: 2em auto 15em;
  }

  h4 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    width: 550px;
    letter-spacing: 0.06em;

    color: #000000;
  }

  h5 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 100%;
    /* or 15px */

    letter-spacing: 0.06em;

    color: #000000;
  }
  p {
    font-family: "Prompt";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 160%;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-top: 1em;
    width: 450px;
    letter-spacing: 0.06em;

    color: #4b6044;
  }
  .education-title {
    width: 550px;

    grid-area: 1 / 1 / span 2 / 1;
    padding-left: 4em;
  }

  .education-summary {
    width: 450px;
    height: 200px;
    background: #daffd9;

    grid-area: 1 / 1 / 1 / 1;
    margin-top: 8em;
    justify-self: center;
    padding-bottom: 2em;
  }

  .education {
    display: grid;
    width: 500px;

    grid-template-rows: 100px 250px;
    grid-template-columns: 1fr;
    border: solid 5px #4ace48;

    justify-content: center;
  }
  .MEHS {
    display: flex;
    height: 200px;
  }
  img {
    height: 500px;
    border: 5px solid #4ace48;
    margin: 3em 4em 3em;
  }
  span {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #3c883a;
    width: 450px;
    line-height: 160%;

    align-self: center;
    text-align: left;
  }
  .about-me-container {
    display: flex;
    flex-direction: column;
    height: 700px;
    justify-content: center;
    align-items: center;
    margin: 3em auto 5em;

    margin-bottom: 10em;
  }
  .credit {
    font-family: "Prompt";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;

    padding-top: 2em;
    letter-spacing: 0.06em;

    color: #daffd9;

    justify-self: center;
  }

  footer {
    width: 100%;
    height: 150px;
    background: #4ace48;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .email{
    align-self: flex-end;
  }
}
@media (max-width: 720px) {
  .activity:hover .activity-summary {
    scale: 120%;
    margin-top: 7em;
  }
}
